In [1]:
import numpy as np 
import pandas as pd
import sklearn as sk

In [2]:
movie = pd.read_csv("movies_metadata.csv")
movie.head(3)

C:\Users\samri\AppData\Local\Temp\ipykernel_22428\2619927581.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movie = pd.read_csv("movies_metadata.csv")

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

In [3]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [6]:
#convert id to int64 for compatible merging
movie['id']=movie['id'].astype('int64')

In [4]:
for idx,ele in enumerate(movie['id']):
    if not(ele.isdigit()):
        print(idx,"  ",ele)

19730    1997-08-20
29503    2012-09-29
35587    2014-01-01

In [5]:
#wrong ids to be deleted 
movie=movie.drop([19730,29503,35587])

In [7]:
key = pd.read_csv("keywords.csv")
key.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46419 entries, 0 to 46418
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        46419 non-null  int64
 1   keywords  46419 non-null  object
dtypes: int64(1), object(1)
memory usage: 725.4+ KB

In [8]:
key.head(3)

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...

In [9]:
credits = pd.read_csv("credits.csv")
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [10]:
credits.head(3)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602

In [11]:
movie=movie.merge(credits,on='id')

In [12]:
movie.shape

(45538, 26)

In [13]:
movie=movie.merge(key,on='id')
movie.shape

(46628, 27)

In [14]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46628 entries, 0 to 46627
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  46628 non-null  object
 1   belongs_to_collection  4574 non-null   object
 2   budget                 46628 non-null  object
 3   genres                 46628 non-null  object
 4   homepage               8009 non-null   object
 5   id                     46628 non-null  int64
 6   imdb_id                46611 non-null  object
 7   original_language      46617 non-null  object
 8   original_title         46628 non-null  object
 9   overview               45633 non-null  object
 10  popularity             46624 non-null  object
 11  poster_path            46229 non-null  object
 12  production_companies   46624 non-null  object
 13  production_countries   46624 non-null  object
 14  release_date           46540 non-null  object
 15  revenue                46624 non-null  float64
 16  runtime                46360 non-null  float64
 17  spoken_languages       46624 non-null  object
 18  status                 46542 non-null  object
 19  tagline                20783 non-null  object
 20  title                  46624 non-null  object
 21  video                  46624 non-null  object
 22  vote_average           46624 non-null  float64
 23  vote_count             46624 non-null  float64
 24  cast                   46628 non-null  object
 25  crew                   46628 non-null  object
 26  keywords               46628 non-null  object
dtypes: float64(4), int64(1), object(22)
memory usage: 9.6+ MB

In [27]:
# to be kept 
# cast 
#crew 
# id 
#geners 
# id
# imdb_id
#original_title
# overview
#poster_path
#tmdbId

In [15]:
movie=movie[['id','genres','imdb_id','title','overview','poster_path','cast','crew','keywords']]

In [16]:
movie.isnull().sum()

id               0
genres           0
imdb_id         17
title            4
overview       995
poster_path    399
cast             0
crew             0
keywords         0
dtype: int64

In [17]:
movie.dropna(inplace=True)

In [18]:
movie.head(2)

,id,genres,imdb_id,title,overview,poster_path,cast,crew,keywords
0,862,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",tt0114709,Toy Story,"Led by Woody, Andy's toys live happily in his ...",/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,8844,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",tt0113497,Jumanji,When siblings Judy and Peter discover an encha...,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."

In [19]:
movie.shape

(45264, 9)

In [20]:
movie.isnull().sum()

id             0
genres         0
imdb_id        0
title          0
overview       0
poster_path    0
cast           0
crew           0
keywords       0
dtype: int64

In [21]:
movie[movie.duplicated()==True]

,id,genres,imdb_id,title,overview,poster_path,cast,crew,keywords
677,105045,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",tt0111613,The Promise,"East-Berlin, 1961, shortly after the erection ...",/5WFIrBhOOgc0jGmoLxMZwWqCctO.jpg,"[{'cast_id': 5, 'character': 'Sophie II', 'cre...","[{'credit_id': '52fe4a44c3a36847f81c463f', 'de...","[{'id': 7059, 'name': 'anti-communism'}, {'id'..."
678,105045,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",tt0111613,The Promise,"East-Berlin, 1961, shortly after the erection ...",/5WFIrBhOOgc0jGmoLxMZwWqCctO.jpg,"[{'cast_id': 5, 'character': 'Sophie II', 'cre...","[{'credit_id': '52fe4a44c3a36847f81c463f', 'de...","[{'id': 7059, 'name': 'anti-communism'}, {'id'..."
679,105045,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",tt0111613,The Promise,"East-Berlin, 1961, shortly after the erection ...",/5WFIrBhOOgc0jGmoLxMZwWqCctO.jpg,"[{'cast_id': 5, 'character': 'Sophie II', 'cre...","[{'credit_id': '52fe4a44c3a36847f81c463f', 'de...","[{'id': 7059, 'name': 'anti-communism'}, {'id'..."
842,132641,"[{'id': 18, 'name': 'Drama'}]",tt0046468,Wife,"Ten years into a marriage, the wife is disappo...",/z9WiHt5uQjs8L8tyBpRBKzlheF2.jpg,"[{'cast_id': 4, 'character': 'Mihoko Nakagawa'...","[{'credit_id': '52fe4b9ac3a368484e190d25', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':..."
844,132641,"[{'id': 18, 'name': 'Drama'}]",tt0046468,Wife,"Ten years into a marriage, the wife is disappo...",/z9WiHt5uQjs8L8tyBpRBKzlheF2.jpg,"[{'cast_id': 4, 'character': 'Mihoko Nakagawa'...","[{'credit_id': '56365ed9925141285701b06e', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':..."
...,...,...,...,...,...,...,...,...,...
45985,12600,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",tt0287635,PokÃ©mon 4Ever: Celebi - Voice of the Forest,"All your favorite PokÃ©mon characters are back,...",/bqL0PVHbQ8Jmw3Njcl38kW0CoeM.jpg,"[{'cast_id': 1, 'character': 'Ash Ketchum (voi...","[{'credit_id': '52fe45049251416c75048e35', 'de...","[{'id': 9663, 'name': 'sequel'}, {'id': 11451,..."
46424,265189,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",tt2121382,Force Majeure,"While holidaying in the French Alps, a Swedish...",/rGMtc9AtZsnWSSL5VnLaGvx1PI6.jpg,"[{'cast_id': 2, 'character': 'Ebba', 'credit_i...","[{'credit_id': '534fd1a80e0a267eb6000e32', 'de...","[{'id': 293, 'name': 'female nudity'}, {'id': ..."
46425,265189,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",tt2121382,Force Majeure,"While holidaying in the French Alps, a Swedish...",/rGMtc9AtZsnWSSL5VnLaGvx1PI6.jpg,"[{'cast_id': 2, 'character': 'Ebba', 'credit_i...","[{'credit_id': '534fd1a80e0a267eb6000e32', 'de...","[{'id': 293, 'name': 'female nudity'}, {'id': ..."
46426,265189,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",tt2121382,Force Majeure,"While holidaying in the French Alps, a Swedish...",/rGMtc9AtZsnWSSL5VnLaGvx1PI6.jpg,"[{'cast_id': 2, 'character': 'Ebba', 'credit_i...","[{'credit_id': '534fd1a80e0a267eb6000e32', 'de...","[{'id': 293, 'name': 'female nudity'}, {'id': ..."
46427,265189,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",tt2121382,Force Majeure,"While holidaying in the French Alps, a Swedish...",/rGMtc9AtZsnWSSL5VnLaGvx1PI6.jpg,"[{'cast_id': 2, 'character': 'Ebba', 'credit_i...","[{'credit_id': '534fd1a80e0a267eb6000e32', 'de...","[{'id': 293, 'name': 'female nudity'}, {'id': ..."

In [22]:
df=movie.drop_duplicates()

In [23]:
df.shape

(44128, 9)

In [33]:
# we have to create a dataset which has 
# title , id , imdb_id . poster_path

np.int64(0)

In [24]:
df['genres'][0]

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [25]:
#convert string first to list 
import ast

In [26]:
def convert(obj):
    l=[]
    for i in ast.literal_eval(obj):
        l.append(i['name'])
    return l

In [27]:
df['genres']=df['genres'].apply(convert)

C:\Users\samri\AppData\Local\Temp\ipykernel_22428\4149380980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['genres']=df['genres'].apply(convert)

In [28]:
df.sample()

,id,genres,imdb_id,title,overview,poster_path,cast,crew,keywords
9959,26774,"[Horror, Thriller]",tt0066849,The Blood on Satan's Claw,The accidental unearthing of Satanâ€™s earthly r...,/sJREenbTnr3Th2FGXo93D1nHCoC.jpg,"[{'cast_id': 1, 'character': 'The Judge', 'cre...","[{'credit_id': '52fe4518c3a368484e04830d', 'de...","[{'id': 392, 'name': 'england'}, {'id': 570, '..."

In [29]:
df['keywords']=df['keywords'].apply(convert)

C:\Users\samri\AppData\Local\Temp\ipykernel_22428\234733079.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['keywords']=df['keywords'].apply(convert)

In [30]:
df['cast'][0]

"[{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3a36847f8024f95', 'gender': 2, 'id': 31, 'name': 'Tom Hanks', 'order': 0, 'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'}, {'cast_id': 15, 'character': 'Buzz Lightyear (voice)', 'credit_id': '52fe4284c3a36847f8024f99', 'gender': 2, 'id': 12898, 'name': 'Tim Allen', 'order': 1, 'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'}, {'cast_id': 16, 'character': 'Mr. Potato Head (voice)', 'credit_id': '52fe4284c3a36847f8024f9d', 'gender': 2, 'id': 7167, 'name': 'Don Rickles', 'order': 2, 'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'}, {'cast_id': 17, 'character': 'Slinky Dog (voice)', 'credit_id': '52fe4284c3a36847f8024fa1', 'gender': 2, 'id': 12899, 'name': 'Jim Varney', 'order': 3, 'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'}, {'cast_id': 18, 'character': 'Rex (voice)', 'credit_id': '52fe4284c3a36847f8024fa5', 'gender': 2, 'id': 12900, 'name': 'Wallace Shawn', 'order': 4, 'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'}, {'cast_id': 19, 'character': 'Hamm (voice)', 'credit_id': '52fe4284c3a36847f8024fa9', 'gender': 2, 'id': 7907, 'name': 'John Ratzenberger', 'order': 5, 'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'}, {'cast_id': 20, 'character': 'Bo Peep (voice)', 'credit_id': '52fe4284c3a36847f8024fad', 'gender': 1, 'id': 8873, 'name': 'Annie Potts', 'order': 6, 'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'}, {'cast_id': 26, 'character': 'Andy (voice)', 'credit_id': '52fe4284c3a36847f8024fc1', 'gender': 0, 'id': 1116442, 'name': 'John Morris', 'order': 7, 'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'}, {'cast_id': 22, 'character': 'Sid (voice)', 'credit_id': '52fe4284c3a36847f8024fb1', 'gender': 2, 'id': 12901, 'name': 'Erik von Detten', 'order': 8, 'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'}, {'cast_id': 23, 'character': 'Mrs. Davis (voice)', 'credit_id': '52fe4284c3a36847f8024fb5', 'gender': 1, 'id': 12133, 'name': 'Laurie Metcalf', 'order': 9, 'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'}, {'cast_id': 24, 'character': 'Sergeant (voice)', 'credit_id': '52fe4284c3a36847f8024fb9', 'gender': 2, 'id': 8655, 'name': 'R. Lee Ermey', 'order': 10, 'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'}, {'cast_id': 25, 'character': 'Hannah (voice)', 'credit_id': '52fe4284c3a36847f8024fbd', 'gender': 1, 'id': 12903, 'name': 'Sarah Freeman', 'order': 11, 'profile_path': None}, {'cast_id': 27, 'character': 'TV Announcer (voice)', 'credit_id': '52fe4284c3a36847f8024fc5', 'gender': 2, 'id': 37221, 'name': 'Penn Jillette', 'order': 12, 'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'}]"

In [31]:
#top 3 actors 
def convert2(obj):
    l=[]
    counter=0
    for i in ast.literal_eval(obj):
        if counter != 3:
            l.append(i['name'])
            counter+=1
        else:
            break
    return l

In [32]:
df['cast']=df['cast'].apply(convert2)

C:\Users\samri\AppData\Local\Temp\ipykernel_22428\3188415926.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cast']=df['cast'].apply(convert2)

In [33]:
df.sample()

,id,genres,imdb_id,title,overview,poster_path,cast,crew,keywords
25070,49431,"[Crime, Drama, Thriller]",tt0050737,My Gun Is Quick,Detective Mike Hammer's investigation of a mur...,/xQY9mpUVk0Gp7FtM7EcyHKNu75Z.jpg,"[Robert Bray, Whitney Blake, Patricia Donahue]","[{'credit_id': '52fe4795c3a36847f813d717', 'de...","[mike hammer, private detective]"

In [34]:
df['crew'][0]

'[{\'credit_id\': \'52fe4284c3a36847f8024f49\', \'department\': \'Directing\', \'gender\': 2, \'id\': 7879, \'job\': \'Director\', \'name\': \'John Lasseter\', \'profile_path\': \'/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f4f\', \'department\': \'Writing\', \'gender\': 2, \'id\': 12891, \'job\': \'Screenplay\', \'name\': \'Joss Whedon\', \'profile_path\': \'/dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f55\', \'department\': \'Writing\', \'gender\': 2, \'id\': 7, \'job\': \'Screenplay\', \'name\': \'Andrew Stanton\', \'profile_path\': \'/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f5b\', \'department\': \'Writing\', \'gender\': 2, \'id\': 12892, \'job\': \'Screenplay\', \'name\': \'Joel Cohen\', \'profile_path\': \'/dAubAiZcvKFbboWlj7oXOkZnTSu.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f61\', \'department\': \'Writing\', \'gender\': 0, \'id\': 12893, \'job\': \'Screenplay\', \'name\': \'Alec Sokolow\', \'profile_path\': \'/v79vlRYi94BZUQnkkyznbGUZLjT.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f67\', \'department\': \'Production\', \'gender\': 1, \'id\': 12894, \'job\': \'Producer\', \'name\': \'Bonnie Arnold\', \'profile_path\': None}, {\'credit_id\': \'52fe4284c3a36847f8024f6d\', \'department\': \'Production\', \'gender\': 0, \'id\': 12895, \'job\': \'Executive Producer\', \'name\': \'Ed Catmull\', \'profile_path\': None}, {\'credit_id\': \'52fe4284c3a36847f8024f73\', \'department\': \'Production\', \'gender\': 2, \'id\': 12896, \'job\': \'Producer\', \'name\': \'Ralph Guggenheim\', \'profile_path\': None}, {\'credit_id\': \'52fe4284c3a36847f8024f79\', \'department\': \'Production\', \'gender\': 2, \'id\': 12897, \'job\': \'Executive Producer\', \'name\': \'Steve Jobs\', \'profile_path\': \'/mOMP3SwD5qWQSR0ldCIByd3guTV.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f8b\', \'department\': \'Editing\', \'gender\': 2, \'id\': 8, \'job\': \'Editor\', \'name\': \'Lee Unkrich\', \'profile_path\': \'/bdTCCXjgOV3YyaNmLGYGOxFQMOc.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f91\', \'department\': \'Art\', \'gender\': 2, \'id\': 7883, \'job\': \'Art Direction\', \'name\': \'Ralph Eggleston\', \'profile_path\': \'/uUfcGKDsKO1aROMpXRs67Hn6RvR.jpg\'}, {\'credit_id\': \'598331bf925141421201044b\', \'department\': \'Editing\', \'gender\': 2, \'id\': 1168870, \'job\': \'Editor\', \'name\': \'Robert Gordon\', \'profile_path\': None}, {\'credit_id\': \'5892168cc3a36809660095f9\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1552883, \'job\': \'Foley Editor\', \'name\': \'Mary Helen Leasman\', \'profile_path\': None}, {\'credit_id\': \'5531824d9251415289000945\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1453514, \'job\': \'Animation\', \'name\': \'Kim Blanchette\', \'profile_path\': None}, {\'credit_id\': \'589215969251412dcb009bf6\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1414182, \'job\': \'ADR Editor\', \'name\': \'Marilyn McCoppen\', \'profile_path\': None}, {\'credit_id\': \'589217099251412dc500a018\', \'department\': \'Sound\', \'gender\': 2, \'id\': 7885, \'job\': \'Orchestrator\', \'name\': \'Randy Newman\', \'profile_path\': \'/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg\'}, {\'credit_id\': \'5693e6b29251417b0e0000e3\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1429549, \'job\': \'Color Timer\', \'name\': \'Dale E. Grahn\', \'profile_path\': None}, {\'credit_id\': \'572e2522c3a36869e6001a9c\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 7949, \'job\': \'CG Painter\', \'name\': \'Robin Cooper\', \'profile_path\': None}, {\'credit_id\': \'574f12309251415ca1000012\', \'department\': \'Writing\', \'gender\': 2, \'id\': 7879, \'job\': \'Original Story\', \'name\': \'John Lasseter\', \'profile_path\': \'/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg\'}, {\'credit_id\': \'574f1240c3a3682e7300001c\', \'department\': \'Writing\', \'gender\': 2, \'id\': 12890, \'job\': \'Original Story\', \'name\': \'Pete Docter\', \'profile_path\': \'/r6ngPgnReA3RHmKjmSoVsc6Awjp.jpg\'}, {\'credit_id\': \'574f12519251415c92000015\', \'department\': \'Writing\', \'gender\': 0, \'id\': 7911, \'job\': \'Original Story\', \'name\': \'Joe Ranft\', \'profile_path\': \'/f1BoWC2JbCcfP1e5hKfGsxkHzVU.jpg\'}, {\'credit_id\': \'574f12cec3a3682e82000022\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1629419, \'job\': \'Post Production Supervisor\', \'name\': \'Patsy Bouge\', \'profile_path\': None}, {\'credit_id\': \'574f14f19251415ca1000082\', \'department\': \'Art\', \'gender\': 0, \'id\': 7961, \'job\': \'Sculptor\', \'name\': \'Norm DeCarlo\', \'profile_path\': None}, {\'credit_id\': \'5751ae4bc3a3683772002b7f\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 12905, \'job\': \'Animation Director\', \'name\': \'Ash Brannon\', \'profile_path\': \'/6ueWgPEEBHvS3De2BHYQnYjRTig.jpg\'}, {\'credit_id\': \'5891edbe9251412dc5007cd6\', \'department\': \'Sound\', \'gender\': 2, \'id\': 7885, \'job\': \'Music\', \'name\': \'Randy Newman\', \'profile_path\': \'/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg\'}, {\'credit_id\': \'589213d39251412dc8009832\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1748707, \'job\': \'Layout\', \'name\': \'Roman Figun\', \'profile_path\': None}, {\'credit_id\': \'5892173dc3a3680968009351\', \'department\': \'Sound\', \'gender\': 2, \'id\': 4949, \'job\': \'Orchestrator\', \'name\': \'Don Davis\', \'profile_path\': None}, {\'credit_id\': \'589217cec3a3686b0a0052ba\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1372885, \'job\': \'Music Editor\', \'name\': \'James Flamberg\', \'profile_path\': None}, {\'credit_id\': \'58921831c3a3686348004a64\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1739962, \'job\': \'Negative Cutter\', \'name\': \'Mary Beth Smith\', \'profile_path\': None}, {\'credit_id\': \'58921838c3a36809700096c0\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1748513, \'job\': \'Negative Cutter\', \'name\': \'Rick Mackay\', \'profile_path\': None}, {\'credit_id\': \'589218429251412dd1009d1b\', \'department\': \'Art\', \'gender\': 0, \'id\': 1458006, \'job\': \'Title Designer\', \'name\': \'Susan Bradley\', \'profile_path\': None}, {\'credit_id\': \'5891ed99c3a3680966007670\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1748557, \'job\': \'Supervising Technical Director\', \'name\': \'William Reeves\', \'profile_path\': None}, {\'credit_id\': \'5891edcec3a3686b0a002eb2\', \'department\': \'Sound\', \'gender\': 2, \'id\': 7885, \'job\': \'Songs\', \'name\': \'Randy Newman\', \'profile_path\': \'/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg\'}, {\'credit_id\': \'5891edf9c3a36809700075e6\', \'department\': \'Writing\', \'gender\': 2, \'id\': 7, \'job\': \'Original Story\', \'name\': \'Andrew Stanton\', \'profile_path\': \'/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg\'}, {\'credit_id\': \'58920f0b9251412dd7009104\', \'department\': \'Crew\', \'gender\': 2, \'id\': 12890, \'job\': \'Supervising Animator\', \'name\': \'Pete Docter\', \'profile_path\': \'/r6ngPgnReA3RHmKjmSoVsc6Awjp.jpg\'}, {\'credit_id\': \'58920f1fc3a3680977009021\', \'department\': \'Sound\', \'gender\': 2, \'id\': 2216, \'job\': \'Sound Designer\', \'name\': \'Gary Rydstrom\', \'profile_path\': \'/jZpr1nVfO7lldWI0YtmP1FGw7Rj.jpg\'}, {\'credit_id\': \'58920f389251412dd700912d\', \'department\': \'Production\', \'gender\': 0, \'id\': 12909, \'job\': \'Production Supervisor\', \'name\': \'Karen Robert Jackson\', \'profile_path\': None}, {\'credit_id\': \'58920fbd9251412dcb00969c\', \'department\': \'Crew\', \'gender\': 0, \'id\': 953331, \'job\': \'Executive Music Producer\', \'name\': \'Chris Montan\', \'profile_path\': None}, {\'credit_id\': \'589210069251412dd7009219\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 7893, \'job\': \'Animation Director\', \'name\': \'Rich Quade\', \'profile_path\': None}, {\'credit_id\': \'589210329251412dcd00943b\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8025, \'job\': \'Animation\', \'name\': \'Michael Berenstein\', \'profile_path\': None}, {\'credit_id\': \'5892103bc3a368096a009180\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 78009, \'job\': \'Animation\', \'name\': \'Colin Brady\', \'profile_path\': None}, {\'credit_id\': \'5892105dc3a3680968008db2\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748682, \'job\': \'Animation\', \'name\': \'Davey Crockett Feiten\', \'profile_path\': None}, {\'credit_id\': \'589210669251412dcd009466\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1454030, \'job\': \'Animation\', \'name\': \'Angie Glocka\', \'profile_path\': None}, {\'credit_id\': \'5892107c9251412dd1009613\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748683, \'job\': \'Animation\', \'name\': \'Rex Grignon\', \'profile_path\': None}, {\'credit_id\': \'5892108ac3a3680973008d3f\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748684, \'job\': \'Animation\', \'name\': \'Tom K. Gurney\', \'profile_path\': None}, {\'credit_id\': \'58921093c3a3686348004477\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 8029, \'job\': \'Animation\', \'name\': \'Jimmy Hayward\', \'profile_path\': \'/lTDRpudEY7BDwTefXbXzMlmb0ui.jpg\'}, {\'credit_id\': \'5892109b9251412dcd0094b0\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1426773, \'job\': \'Animation\', \'name\': \'Hal T. Hickel\', \'profile_path\': None}, {\'credit_id\': \'589210a29251412dc5009a29\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8035, \'job\': \'Animation\', \'name\': \'Karen Kiser\', \'profile_path\': None}, {\'credit_id\': \'589210ccc3a3680977009191\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748688, \'job\': \'Animation\', \'name\': \'Anthony B. LaMolinara\', \'profile_path\': None}, {\'credit_id\': \'589210d7c3a3686b0a004c1f\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 587314, \'job\': \'Animation\', \'name\': \'Guionne Leroy\', \'profile_path\': None}, {\'credit_id\': \'589210e1c3a36809770091a7\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7918, \'job\': \'Animation\', \'name\': \'Bud Luckey\', \'profile_path\': \'/pcCh7G19FKMNijmPQg1PMH1btic.jpg\'}, {\'credit_id\': \'589210ee9251412dc200978a\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748689, \'job\': \'Animation\', \'name\': \'Les Major\', \'profile_path\': None}, {\'credit_id\': \'589210fa9251412dc8009595\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7892, \'job\': \'Animation\', \'name\': \'Glenn McQueen\', \'profile_path\': None}, {\'credit_id\': \'589211029251412dc8009598\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 555795, \'job\': \'Animation\', \'name\': \'Mark Oftedal\', \'profile_path\': None}, {\'credit_id\': \'5892110b9251412dc800959d\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7882, \'job\': \'Animation\', \'name\': \'Jeff Pidgeon\', \'profile_path\': \'/yLddkg5HcgbJg00cS13GVBnP0HY.jpg\'}, {\'credit_id\': \'58921113c3a36863480044e4\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8017, \'job\': \'Animation\', \'name\': \'Jeff Pratt\', \'profile_path\': None}, {\'credit_id\': \'5892111c9251412dcb0097e9\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1184140, \'job\': \'Animation\', \'name\': \'Steve Rabatich\', \'profile_path\': None}, {\'credit_id\': \'58921123c3a36809700090f6\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8049, \'job\': \'Animation\', \'name\': \'Roger Rose\', \'profile_path\': None}, {\'credit_id\': \'5892112b9251412dcb0097fb\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1509559, \'job\': \'Animation\', \'name\': \'Steve Segal\', \'profile_path\': None}, {\'credit_id\': \'589211349251412dc80095c3\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748691, \'job\': \'Animation\', \'name\': \'Doug Sheppeck\', \'profile_path\': None}, {\'credit_id\': \'5892113cc3a3680970009106\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8050, \'job\': \'Animation\', \'name\': \'Alan Sperling\', \'profile_path\': None}, {\'credit_id\': \'58921148c3a3686b0a004c99\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8010, \'job\': \'Animation\', \'name\': \'Doug Sweetland\', \'profile_path\': None}, {\'credit_id\': \'58921150c3a3680966009125\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8044, \'job\': \'Animation\', \'name\': \'David Tart\', \'profile_path\': None}, {\'credit_id\': \'589211629251412dc5009b00\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1454034, \'job\': \'Animation\', \'name\': \'Ken Willard\', \'profile_path\': None}, {\'credit_id\': \'589211c1c3a3686b0a004d28\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 7887, \'job\': \'Visual Effects Supervisor\', \'name\': \'Thomas Porter\', \'profile_path\': None}, {\'credit_id\': \'589211d4c3a3680968008ed9\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1406878, \'job\': \'Visual Effects\', \'name\': \'Mark Thomas Henne\', \'profile_path\': None}, {\'credit_id\': \'589211f59251412dd4008e65\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748698, \'job\': \'Visual Effects\', \'name\': \'Oren Jacob\', \'profile_path\': None}, {\'credit_id\': \'58921242c3a368096a00939b\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748699, \'job\': \'Visual Effects\', \'name\': \'Darwyn Peachey\', \'profile_path\': None}, {\'credit_id\': \'5892124b9251412dc5009bd2\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748701, \'job\': \'Visual Effects\', \'name\': \'Mitch Prater\', \'profile_path\': None}, {\'credit_id\': \'58921264c3a3686b0a004dbf\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748703, \'job\': \'Visual Effects\', \'name\': \'Brian M. Rosen\', \'profile_path\': None}, {\'credit_id\': \'589212709251412dcd009676\', \'department\': \'Lighting\', \'gender\': 1, \'id\': 12912, \'job\': \'Lighting Supervisor\', \'name\': \'Sharon Calahan\', \'profile_path\': None}, {\'credit_id\': \'5892127fc3a3686b0a004de5\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 7899, \'job\': \'Lighting Supervisor\', \'name\': \'Galyn Susman\', \'profile_path\': None}, {\'credit_id\': \'589212cdc3a3680970009268\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 12915, \'job\': \'CG Painter\', \'name\': \'William Cone\', \'profile_path\': None}, {\'credit_id\': \'5892130f9251412dc8009791\', \'department\': \'Art\', \'gender\': 0, \'id\': 1748705, \'job\': \'Sculptor\', \'name\': \'Shelley Daniels Lekven\', \'profile_path\': None}, {\'credit_id\': \'5892131c9251412dd4008f4c\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7889, \'job\': \'Character Designer\', \'name\': \'Bob Pauley\', \'profile_path\': None}, {\'credit_id\': \'589213249251412dd100987b\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7918, \'job\': \'Character Designer\', \'name\': \'Bud Luckey\', \'profile_path\': \'/pcCh7G19FKMNijmPQg1PMH1btic.jpg\'}, {\'credit_id\': \'5892132b9251412dc80097b1\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7, \'job\': \'Character Designer\', \'name\': \'Andrew Stanton\', \'profile_path\': \'/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg\'}, {\'credit_id\': \'58921332c3a368634800467b\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 12915, \'job\': \'Character Designer\', \'name\': \'William Cone\', \'profile_path\': None}, {\'credit_id\': \'5892135f9251412dd4008f90\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748706, \'job\': \'Character Designer\', \'name\': \'Steve Johnson\', \'profile_path\': None}, {\'credit_id\': \'58921384c3a3680973008fd4\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1176752, \'job\': \'Character Designer\', \'name\': \'Dan Haskett\', \'profile_path\': None}, {\'credit_id\': \'5892138e9251412dc20099fc\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1088034, \'job\': \'Character Designer\', \'name\': \'Tom Holloway\', \'profile_path\': \'/a0r0T2usTBpgMI5aZbRBDW1fTl8.jpg\'}, {\'credit_id\': \'58921395c3a368097700942f\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1447465, \'job\': \'Character Designer\', \'name\': \'Jean Gillmore\', \'profile_path\': None}, {\'credit_id\': \'589213e2c3a3680973009026\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1748709, \'job\': \'Layout\', \'name\': \'DesirÃ©e Mourad\', \'profile_path\': None}, {\'credit_id\': \'589214099251412dc5009d57\', \'department\': \'Art\', \'gender\': 0, \'id\': 1748710, \'job\': \'Set Dresser\', \'name\': "Kelly O\'Connell", \'profile_path\': None}, {\'credit_id\': \'58921411c3a3686b0a004f70\', \'department\': \'Art\', \'gender\': 0, \'id\': 1443471, \'job\': \'Set Dresser\', \'name\': \'Sonoko Konishi\', \'profile_path\': None}, {\'credit_id\': \'58921434c3a368096a00956e\', \'department\': \'Art\', \'gender\': 0, \'id\': 1748711, \'job\': \'Set Dresser\', \'name\': \'Ann M. Rockwell\', \'profile_path\': None}, {\'credit_id\': \'5892144ac3a36809680090de\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1748712, \'job\': \'Editorial Manager\', \'name\': \'Julie M. McDonald\', \'profile_path\': None}, {\'credit_id\': \'58921479c3a368096800910f\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1589729, \'job\': \'Assistant Editor\', \'name\': \'Robin Lee\', \'profile_path\': None}, {\'credit_id\': \'5892148b9251412dd10099cc\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1748716, \'job\': \'Assistant Editor\', \'name\': \'Tom Freeman\', \'profile_path\': None}, {\'credit_id\': \'589214959251412dcb009b1f\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1748717, \'job\': \'Assistant Editor\', \'name\': \'Ada Cochavi\', \'profile_path\': None}, {\'credit_id\': \'5892149ec3a3686348004798\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1336438, \'job\': \'Assistant Editor\', \'name\': \'Dana Mulligan\', \'profile_path\': None}, {\'credit_id\': \'589214adc3a368096a0095db\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1748718, \'job\': \'Editorial Coordinator\', \'name\': \'Deirdre Morrison\', \'profile_path\': None}, {\'credit_id\': \'589214c7c3a368097700952b\', \'department\': \'Production\', \'gender\': 0, \'id\': 1748719, \'job\': \'Production Coordinator\', \'name\': \'Lori Lombardo\', \'profile_path\': None}, {\'credit_id\': \'589214cec3a368096a009603\', \'department\': \'Production\', \'gender\': 0, \'id\': 1748720, \'job\': \'Production Coordinator\', \'name\': \'Ellen Devine\', \'profile_path\': None}, {\'credit_id\': \'589214e39251412dc8009904\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1468014, \'job\': \'Unit Publicist\', \'name\': \'Lauren Beth Strogoff\', \'profile_path\': None}, {\'credit_id\': \'58921544c3a3686b0a00507d\', \'department\': \'Sound\', \'gender\': 2, \'id\': 2216, \'job\': \'Sound Re-Recording Mixer\', \'name\': \'Gary Rydstrom\', \'profile_path\': \'/jZpr1nVfO7lldWI0YtmP1FGw7Rj.jpg\'}, {\'credit_id\': \'5892154c9251412dd1009a56\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1425978, \'job\': \'Sound Re-Recording Mixer\', \'name\': \'Gary Summers\', \'profile_path\': None}, {\'credit_id\': \'58921555c3a36809680091bd\', \'department\': \'Sound\', \'gender\': 2, \'id\': 8276, \'job\': \'Supervising Sound Editor\', \'name\': \'Tim Holland\', \'profile_path\': None}, {\'credit_id\': \'589215c39251412dcb009c12\', \'department\': \'Sound\', \'gender\': 0, \'id\': 7069, \'job\': \'Sound Effects Editor\', \'name\': \'Pat Jackson\', \'profile_path\': None}, {\'credit_id\': \'58921698c3a368096a009788\', \'department\': \'Crew\', \'gender\': 2, \'id\': 15894, \'job\': \'Sound Design Assistant\', \'name\': \'Tom Myers\', \'profile_path\': None}, {\'credit_id\': \'589216a89251412dc2009ca4\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1414177, \'job\': \'Assistant Sound Editor\', \'name\': \'J.R.

In [35]:
def dicrector(obj):
    l=[]
    dic=ast.literal_eval(obj)
    for i in dic:
        if i['job']=='Director':
            l.append(i['name'])
     
    return l

In [36]:
df['crew']=df['crew'].apply(dicrector)

C:\Users\samri\AppData\Local\Temp\ipykernel_22428\1648331664.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['crew']=df['crew'].apply(dicrector)

In [37]:
df['overview']=df['overview'].apply(lambda x: x.split())

C:\Users\samri\AppData\Local\Temp\ipykernel_22428\3515882836.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['overview']=df['overview'].apply(lambda x: x.split())

In [38]:
df['genres']=df['genres'].apply(lambda x : [i.replace(" ","") for i in x ])

C:\Users\samri\AppData\Local\Temp\ipykernel_22428\4129264989.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['genres']=df['genres'].apply(lambda x : [i.replace(" ","") for i in x ])

In [39]:
df['cast']=df['cast'].apply(lambda x : [i.replace(" ","") for i in x ])

C:\Users\samri\AppData\Local\Temp\ipykernel_22428\3528004194.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cast']=df['cast'].apply(lambda x : [i.replace(" ","") for i in x ])

In [40]:
df['crew']=df['crew'].apply(lambda x : [i.replace(" ","") for i in x ])

C:\Users\samri\AppData\Local\Temp\ipykernel_22428\2125282877.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['crew']=df['crew'].apply(lambda x : [i.replace(" ","") for i in x ])

In [41]:
df['keywords']=df['keywords'].apply(lambda x : [i.replace(" ","") for i in x ])

C:\Users\samri\AppData\Local\Temp\ipykernel_22428\522247724.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['keywords']=df['keywords'].apply(lambda x : [i.replace(" ","") for i in x ])

In [42]:
df.sample()

,id,genres,imdb_id,title,overview,poster_path,cast,crew,keywords
19755,27480,[Drama],tt1235142,Last Ride,"[A, young, boy, travels, across, Australia, wi...",/AddTnLRO4MKMNxbTpJuCp7W10tD.jpg,"[HugoWeaving, TomRussell, AnitaHegh]",[GlendynIvin],"[fathersonrelationship, australia]"

In [43]:
df['tags']=df['overview']+df['genres']+df['cast']+df['crew']+df['keywords']

C:\Users\samri\AppData\Local\Temp\ipykernel_22428\47625775.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags']=df['overview']+df['genres']+df['cast']+df['crew']+df['keywords']

In [44]:
df.sample()

,id,genres,imdb_id,title,overview,poster_path,cast,crew,keywords,tags
44416,421443,[ScienceFiction],tt3198000,Teleios,"[A, deep, space, mining, vessel, has, been, ad...",/56Jw3jcT0Oi8dRI2htlCQyfRlV8.jpg,"[SunnyMabrey, LanceBroadway, T.J.Hoban]",[IanTruitner],"[artificialintelligence, isolation, geneticenh...","[A, deep, space, mining, vessel, has, been, ad..."

In [45]:
new_df = df[['id','imdb_id','title','poster_path','tags']]
new_df.sample()

,id,imdb_id,title,poster_path,tags
20077,76349,tt1772230,1911,/4B553EK5EWUc28Jvl2vZ3xwDWF4.jpg,"[At, the, beginning, of, the, 20th, century,, ..."

In [48]:
new_df.index = range(1, len(new_df) + 1)
new_df.head()

,id,imdb_id,title,poster_path,tags
1,862,tt0114709,Toy Story,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[Led, by, Woody,, Andy's, toys, live, happily,..."
2,8844,tt0113497,Jumanji,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[When, siblings, Judy, and, Peter, discover, a..."
3,15602,tt0113228,Grumpier Old Men,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[A, family, wedding, reignites, the, ancient, ..."
4,31357,tt0114885,Waiting to Exhale,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,"[Cheated, on,, mistreated, and, stepped, on,, ..."
5,11862,tt0113041,Father of the Bride Part II,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[Just, when, George, Banks, has, recovered, fr..."

In [49]:
new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\samri\AppData\Local\Temp\ipykernel_22428\487797088.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

In [50]:
new_df.sample()

,id,imdb_id,title,poster_path,tags
7114,20032,tt0301777,Robot Stories,/njXvh0BmcAcNEs8VLvGpU8RRUxx.jpg,"Four stories including: ""My Robot Baby,"" in wh..."

In [51]:
new_df.tail(5)

,id,imdb_id,title,poster_path,tags
44124,439050,tt6209470,Subdue,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,Rising and falling between a man and woman. Dr...
44125,111109,tt2028550,Century of Birthing,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,An artist struggles to finish his work while a...
44126,67758,tt0303758,Betrayal,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,"When one of her hits goes wrong, a professiona..."
44127,227506,tt0008536,Satan Triumphant,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,"In a small town live two brothers, one a minis..."
44128,461257,tt6980792,Queerama,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,50 years after decriminalisation of homosexual...

In [52]:
new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

C:\Users\samri\AppData\Local\Temp\ipykernel_22428\4224080999.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

In [53]:
import nltk

In [54]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [58]:
print(new_df['tags'].apply(type).unique())

[<class 'str'>]

In [59]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [60]:
new_df['tags']=new_df['tags'].apply(stem)

C:\Users\samri\AppData\Local\Temp\ipykernel_22428\3514595201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stem)

In [61]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44128 entries, 1 to 44128
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           44128 non-null  int64
 1   imdb_id      44128 non-null  object
 2   title        44128 non-null  object
 3   poster_path  44128 non-null  object
 4   tags         44128 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.7+ MB

In [107]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=8000,stop_words='english')

In [108]:
new_df['tags'][1]

"led by woody, andy' toy live happili in hi room until andy' birthday bring buzz lightyear onto the scene. afraid of lose hi place in andy' heart, woodi plot against buzz. but when circumst separ buzz and woodi from their owner, the duo eventu learn to put asid their differences. anim comedi famili tomhank timallen donrickl johnlasset jealousi toy boy friendship friend rivalri boynextdoor newtoy toycomestolif"

In [109]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [ ]:
df = df[df['tags'].notna() & (df['tags'].str.strip() != '')]

In [110]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], shape=(44128, 8000))

In [111]:
cv.get_feature_names_out()

array(['000', '10', '100', ..., 'zone', 'zoo', 'Ã©ricrohm'],
      shape=(8000,), dtype=object)

In [112]:
from sklearn.metrics.pairwise import cosine_similarity

In [113]:
similarity=cosine_similarity(vectors)

In [114]:
similarity[0]

array([1.        , 0.05270463, 0.03806935, ..., 0.        , 0.13176157,
       0.        ], shape=(44128,))

In [139]:
def recommend(movie):
    indexes = new_df[new_df['title'] == movie].index
    if(len(indexes)>1):
        print("we have different movies of same name with different stories so making 3 , 3 recommendations for both of the movie")
        count=1
        for ele in indexes:
            movie_index=ele
            distances=similarity[movie_index-1]
            print("for " , count,"movie")
            count+=1
            movie_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:4]
            for i in movie_list:
                print(new_df.iloc[i[0]].title)

    elif(len(indexes)==1):
        movie_index=indexes[0]
        distances=similarity[movie_index-1]
        movie_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
        for i in movie_list:
            print(new_df.iloc[i[0]].title)
    else:
        print("sorry for the inconvience we currently do not have this movie in our system ")

In [76]:
indexes = new_df[new_df['title'] == 'Betrayal'].index
print(indexes[1])

44126

In [105]:
new_df.iloc[17284].title

'Harry Potter and the Deathly Hallows: Part 2'

In [136]:
new_df.iloc[18588].title

'A Skin Too Few: The Days of Nick Drake'

In [116]:
similarity[0]

array([1.        , 0.05270463, 0.03806935, ..., 0.        , 0.13176157,
       0.        ], shape=(44128,))

In [123]:
indexes = new_df[new_df['title'] == "Harry Potter and the Philosopher's Stone"].index
indexes[0]

np.int64(4730)

In [133]:
distances=similarity[4729]

In [127]:
movie_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]

In [132]:
for i in movie_list:
                print(new_df.iloc[i[0]-1].title)

Damsels in Distress
Proof of the Devil
Les Tuche 2: Le rÃªve amÃ©ricain
Playground
Varsham

In [135]:
sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])

[(4729, np.float64(0.9999999999999994)),
 (18588, np.float64(0.5422560619810575)),
 (34878, np.float64(0.5285848970179546)),
 (38337, np.float64(0.5217939320872035)),
 (40348, np.float64(0.5179678260941538)),
 (33515, np.float64(0.5179059769738341)),
 (25960, np.float64(0.5143089322688749)),
 (7571, np.float64(0.51234753829798)),
 (12923, np.float64(0.5086649366196071)),
 (1963, np.float64(0.50709255283711)),
 (37957, np.float64(0.50709255283711)),
 (21896, np.float64(0.5055989043706882)),
 (39106, np.float64(0.5022118564594755)),
 (18582, np.float64(0.501426536422407)),
 (28426, np.float64(0.5002164033860248)),
 (39945, np.float64(0.49999999999999994)),
 (39774, np.float64(0.49839528872013283)),
 (22418, np.float64(0.49724515809884684)),
 (2740, np.float64(0.4968472027264949)),
 (13940, np.float64(0.4951661381528202)),
 (5016, np.float64(0.4946313720082434)),
 (382, np.float64(0.49443329753798504)),
 (15989, np.float64(0.49135381491199537)),
 (18193, np.float64(0.4913538149119953)),
 (39489, np.float64(0.4913538149119953)),
 (28757, np.float64(0.4900304787764432)),
 (26846, np.float64(0.4880516821448774)),
 (31275, np.float64(0.4878942675688357)),
 (39986, np.float64(0.48758163322320064)),
 (22736, np.float64(0.4871987657646901)),
 (43616, np.float64(0.4853598970783192)),
 (34105, np.float64(0.4853247054152623)),
 (12313, np.float64(0.48416483186574416)),
 (39636, np.float64(0.48304589153964794)),
 (37402, np.float64(0.4822816329082456)),
 (39619, np.float64(0.4818708815494672)),
 (31754, np.float64(0.4814371209666147)),
 (27836, np.float64(0.4813109511118895)),
 (20113, np.float64(0.480670319495552)),
 (36290, np.float64(0.47915742374995485)),
 (21495, np.float64(0.4764735323467895)),
 (34258, np.float64(0.47647353234678946)),
 (618, np.float64(0.4761460834836171)),
 (2591, np.float64(0.4749356901459776)),
 (34471, np.float64(0.4745659770817911)),
 (17125, np.float64(0.4743995626631048)),
 (1433, np.float64(0.47435868318212315)),
 (40344, np.float64(0.47434164902525683)),
 (37772, np.float64(0.4741252424037351)),
 (43028, np.float64(0.4732926061288094)),
 (41826, np.float64(0.47319693988374845)),
 (16509, np.float64(0.472272669815201)),
 (19802, np.float64(0.4716850352584577)),
 (30365, np.float64(0.4714540354722029)),
 (19673, np.float64(0.47072342953422447)),
 (41932, np.float64(0.46937676533621)),
 (11335, np.float64(0.46924458035280076)),
 (27894, np.float64(0.46916846400738355)),
 (42450, np.float64(0.46862334890320473)),
 (22105, np.float64(0.46845798908546094)),
 (41376, np.float64(0.46845798908546094)),
 (15253, np.float64(0.4680252333449758)),
 (22315, np.float64(0.4673773191347205)),
 (3895, np.float64(0.4668124165010464)),
 (4440, np.float64(0.46670668095755835)),
 (42461, np.float64(0.46670668095755835)),
 (453, np.float64(0.46656947481584343)),
 (33422, np.float64(0.4661561833780469)),
 (23456, np.float64(0.46613915764041347)),
 (7753, np.float64(0.46609159969939895)),
 (38659, np.float64(0.46579425255608914)),
 (10474, np.float64(0.46436346021257197)),
 (32729, np.float64(0.46409548089225705)),
 (8678, np.float64(0.4638257976653682)),
 (32102, np.float64(0.4638168285219587)),
 (32824, np.float64(0.46355253465055335)),
 (844, np.float64(0.4635525346505533)),
 (27943, np.float64(0.4635525346505533)),
 (27062, np.float64(0.46355253465055324)),
 (31130, np.float64(0.4632528193148689)),
 (4372, np.float64(0.4631855096249564)),
 (11308, np.float64(0.4629100498862757)),
 (12435, np.float64(0.4629100498862757)),
 (15246, np.float64(0.4621247905424447)),
 (1581, np.float64(0.4619682176798978)),
 (7097, np.float64(0.4613862412138976)),
 (28048, np.float64(0.46131104666309364)),
 (19400, np.float64(0.4610694459770734)),
 (42334, np.float64(0.46101674931469466)),
 (41121, np.float64(0.4604435704551633)),
 (21607, np.float64(0.4600437062282361)),
 (33714, np.float64(0.45947810597473504)),
 (43784, np.float64(0.4591000258371299)),
 (16188, np.float64(0.4586933203390911)),
 (16328, np.float64(0.458682472293863)),
 (31643, np.float64(0.45825756949558394)),
 (36525, np.float64(0.45825756949558394)),
 (42093, np.float64(0.4581897949526568)),
 (41452, np.float64(0.45787021298412234)),
 (17278, np.float64(0.4578702129841223)),
 (34135, np.float64(0.45785077175051986)),
 (38966, np.float64(0.4569681343117893)),
 (19775, np.float64(0.4564749810990832)),
 (14996, np.float64(0.45643546458763845)),
 (25751, np.float64(0.45643546458763845)),
 (10051, np.float64(0.4561301472674225)),
 (5829, np.float64(0.4560983251262665)),
 (36155, np.float64(0.45605537129529466)),
 (16124, np.float64(0.45561146130358604)),
 (5100, np.float64(0.4543441112511214)),
 (43923, np.float64(0.45427041191657763)),
 (8614, np.float64(0.45415397792775125)),
 (13648, np.float64(0.45415397792775125)),
 (16508, np.float64(0.4539121250901135)),
 (37253, np.float64(0.4535573676110727)),
 (27272, np.float64(0.4532892284403643)),
 (15921, np.float64(0.4530455884900605)),
 (43272, np.float64(0.45263456427949444)),
 (14900, np.float64(0.4519370578378191)),
 (6370, np.float64(0.4517539514526256)),
 (18575, np.float64(0.4513537837386966)),
 (19636, np.float64(0.4513537837386966)),
 (24979, np.float64(0.4513537837386966)),
 (201, np.float64(0.45126085985421294)),
 (42151, np.float64(0.45125598196487093)),
 (9380, np.float64(0.45095603392993316)),
 (2809, np.float64(0.4508057302781464)),
 (2858, np.float64(0.4504179373787859)),
 (15117, np.float64(0.4493690579116594)),
 (18944, np.float64(0.44899888641287294)),
 (22461, np.float64(0.4485426135725303)),
 (30519, np.float64(0.4479308591452913)),
 (37131, np.float64(0.44765096831402623)),
 (32572, np.float64(0.4476509683140262)),
 (30650, np.float64(0.4475236222931726)),
 (11031, np.float64(0.4474797148900665)),
 (18014, np.float64(0.44605750499512775)),
 (26425, np.float64(0.44605470887843945)),
 (38921, np.float64(0.44544943242796226)),
 (30039, np.float64(0.44543540318737396)),
 (23174, np.float64(0.44446711960297275)),
 (29607, np.float64(0.44394205489563193)),
 (35918, np.float64(0.4438023054493841)),
 (8362, np.float64(0.44379669164255897)),
 (23266, np.float64(0.4437966916425589)),
 (32215, np.float64(0.44376329157691197)),
 (37355, np.float64(0.44370598373247117)),
 (8582, np.float64(0.4437059837324711)),
 (1067, np.float64(0.443613573862942)),
 (1900, np.float64(0.4433944513137059)),
 (13320, np.float64(0.4432733108029124)),
 (29737, np.float64(0.4432733108029124)),
 (11918, np.float64(0.44285714285714284)),
 (22914, np.float64(0.4428571428571428)),
 (28716, np.float64(0.44262666813799045)),
 (36314, np.float64(0.4419956960878639)),
 (22408, np.float64(0.4416419579791066)),
 (38982, np.float64(0.44136741475237473)),
 (29891, np.float64(0.44095855184409843)),
 (6725, np.float64(0.44056711053140085)),
 (22028, np.float64(0.4402928945466503)),
 (23233, np.float64(0.4402031370212143)),
 (20163, np.float64(0.4400722605096191)),
 (29229, np.float64(0.4400398593235545)),
 (35372, np.float64(0.4397273711810475)),
 (12136, np.float64(0.43972737118104743)),
 (31346, np.float64(0.43948021245882857)),
 (8165, np.float64(0.43943537440204106)),
 (19140, np.float64(0.439435374402041)),
 (3145, np.float64(0.43915503282684)),
 (18802, np.float64(0.43915503282683993)),
 (23404, np.float64(0.43915503282683993)),
 (42152, np.float64(0.43915503282683993)),
 (25532, np.float64(0.4391550328268399)),
 (36574, np.float64(0.4391550328268399)),
 (40600, np.float64(0.4391550328268399)),
 (27650, np.float64(0.4387922874431172)),
 (30090, np.float64(0.43826570791278313)),
 (22478, np.float64(0.4382504900892777)),
 (43767, np.float64(0.43825049008927763)),
 (4468, np.float64(0.43806124524342677)),
 (34828, np.float64(0.43750184856160784)),
 (727, np.float64(0.43673666694720936)),
 (15467, np.float64(0.43657932126865395)),
 (28646, np.float64(0.43657932126865395)),
 (26903, np.float64(0.4365793212686539)),
 (8236, np.float64(0.4359252601959143)),
 (24912, np.float64(0.43586861222655643)),
 (21704, np.float64(0.43585502734650416)),
 (31404, np.float64(0.4358550273465041)),
 (21991, np.float64(0.43569543086263396)),
 (10130, np.float64(0.43515025255297585)),
 (13755, np.float64(0.4351444005737053)),
 (1987, np.float64(0.43467700580877516)),
 (19624, np.float64(0.43467700580877516)),
 (7364, np.float64(0.4346770058087751)),
 (18779, np.float64(0.4346591439606113)),
 (25091, np.float64(0.4346591439606113)),
 (17519, np.float64(0.43368379339452057)),
 (41477, np.float64(0.4336618755542129)),
 (13233, np.float64(0.43365850792131044)),
 (40361, np.float64(0.4336466886181083)),
 (33291, np.float64(0.4332703708837177)),
 (2400, np.float64(0.4332001127219817)),
 (4607, np.float64(0.4332001127219817)),
 (32412, np.float64(0.4332001127219817)),
 (9515, np.float64(0.4330327205095478)),
 (65, np.float64(0.4329381666129181)),
 (5432, np.float64(0.4329381666129181)),
 (30237, np.float64(0.4329381666129181)),
 (30950, np.float64(0.432843655349805)),
 (34501, np.float64(0.43279934257801334)),
 (37242, np.float64(0.4324499820938683)),
 (37299, np.float64(0.43244998209386826)),
 (41423, np.float64(0.43244998209386826)),
 (13679, np.float64(0.43228762054052255)),
 (35492, np.float64(0.43204937989385733)),
 (11672, np.float64(0.4320138246635874)),
 (13206, np.float64(0.4314744636313456)),
 (15483, np.float64(0.4312416813749594)),
 (31432, np.float64(0.4310951006947142)),
 (16844, np.float64(0.4304580323876635)),
 (37101, np.float64(0.4304580323876635)),
 (2991, np.float64(0.4303534380397734)),
 (4356, np.float64(0.4303534380397734)),
 (12865, np.float64(0.4303534380397734)),
 (43828, np.float64(0.43031591910488437)),
 (21923, np.float64(0.4303159191048843)),
 (26765, np.float64(0.43028229936038165)),
 (28315, np.float64(0.4293257009442705)),
 (14690, np.float64(0.42919753763947605)),
 (35692, np.float64(0.42916625387999424)),
 (4175, np.float64(0.42857142857142855)),
 (23419, np.float64(0.4278406467922595)),
 (18565, np.float64(0.42761798705987897)),
 (10172, np.float64(0.4274421211313798)),
 (24547, np.float64(0.42726306821018856)),
 (12105, np.float64(0.4269562819149833)),
 (42076, np.float64(0.42695628191498325)),
 (43871, np.float64(0.42686091714702706)),
 (13384, np.float64(0.4266551675939623)),
 (42662, np.float64(0.4266551675939622)),
 (5386, np.float64(0.42656170388121467)),
 (8891, np.float64(0.42652831902044547)),
 (1028, np.float64(0.4260429614980358)),
 (5142, np.float64(0.42599960937769993)),
 (36864, np.float64(0.42599960937769993)),
 (3956, np.float64(0.42591770999995987)),
 (34760, np.float64(0.42554042826111843)),
 (20159, np.float64(0.4250237185032414)),
 (42405, np.float64(0.4250237185032414)),
 (9230, np.float64(0.4249701722077843)),
 (762, np.float64(0.4239697474356372)),
 (5642, np.float64(0.42376287058219403)),
 (36088, np.float64(0.42374125388768247)),
 (8465, np.float64(0.4236780683373428)),
 (26230, np.float64(0.4236780683373428)),
 (21691, np.float64(0.4233333053517555)),
 (43787, np.float64(0.42294442611014477)),
 (21546, np.float64(0.422890031611031)),
 (23417, np.float64(0.42286845944116913)),
 (30851, np.float64(0.42275690917514186)),
 (41134, np.float64(0.4225771273642583)),
 (36565, np.float64(0.42257712736425823)),
 (39031, np.float64(0.42257712736425823)),
 (27989, np.float64(0.42246290189187435)),
 (2630, np.float64(0.4223709418787637)),
 (13721, np.float64(0.42224771809447664)),
 (9918, np.float64(0.42224771809447653)),
 (13119, np.float64(0.42176248989638454)),
 (21219, np.float64(0.4217019235375515)),
 (8938, np.float64(0.4216541329006604)),
 (19494, np.float64(0.42164602751859837)),
 (34372, np.float64(0.42163702135578385)),
 (41640, np.float64(0.42163702135578385)),
 (24721, np.float64(0.4213940728934602)),
 (35960, np.float64(0.42127888427358196)),
 (10060, np.float64(0.42105745129302397)),
 (15879, np.float64(0.42105745129302397)),
 (26297, np.float64(0.42105745129302397)),
 (22096, np.float64(0.4204589329360411)),
 (8490, np.float64(0.42013487976039704)),
 (28488, np.float64(0.4199125273342591)),
 (4993, np.float64(0.41971436190211214)),
 (33633, np.float64(0.41952652629561354)),
 (32645, np.float64(0.4193139346887674)),
 (39564, np.float64(0.41922250453148124)),
 (28424, np.float64(0.41914662181330714)),
 (37656, np.float64(0.4190279412931977)),
 (38465, np.float64(0.4190279412931977)),
 (32167, np.float64(0.41867261319386756)),
 (33294, np.float64(0.41867261319386756)),
 (22790, np.float64(0.41860532097256453)),
 (25610, np.float64(0.41838404362093007)),
 (4960, np.float64(0.4183300132670378)),
 (27776, np.float64(0.4183300132670378)),
 (40903, np.float64(0.4183300132670378)),
 (33513, np.float64(0.4183300132670377)),
 (39290, np.float64(0.4181129057288785)),
 (21904, np.float64(0.41809013136574436)),
 (11287, np.float64(0.4179271141913148)),
 (18097, np.float64(0.4178724050936786)),
 (29880, np.float64(0.41731242476584085)),
 (38712, np.float64(0.4172769857249917)),
 (42456, np.float64(0.41693475084977677)),
 (43711, np.float64(0.416927537383382)),
 (30046, np.float64(0.4168275107825463)),
 (6026, np.float64(0.4166190448976481)),
 (37202, np.float64(0.4166190448976481)),
 (38475, np.float64(0.4166190448976481)),
 (40410, np.float64(0.416352422517144)),
 (39306, np.float64(0.41635242251714394)),
 (15111, np.float64(0.4162127853715776)),
 (5230, np.float64(0.4161251892882395)),
 (20278, np.float64(0.41596959938215056)),
 (23058, np.float64(0.41596959938215056)),
 (37521, np.float64(0.41576092031014994)),
 (39001, np.float64(0.41576092031014994)),
 (14615, np.float64(0.4157609203101499)),
 (39690, np.float64(0.4157609203101499)),
 (8504, np.float64(0.4152697672499609)),
 (32621, np.float64(0.4152697672499609)),
 (1939, np.float64(0.4148503830733852)),
 (23133, np.float64(0.4148503830733852)),
 (26483, np.float64(0.4148503830733852)),
 (22462, np.float64(0.4147575310031266)),
 (32769, np.float64(0.4147575310031266)),
 (39077, np.float64(0.4144677261344947)),
 (14398, np.float64(0.4144312328399571)),
 (4363, np.float64(0.4143709650823724)),
 (8863, np.float64(0.41428571428571426)),
 (699, np.float64(0.41425492496425775)),
 (34363, np.float64(0.41420843478975705)),
 (26201, np.float64(0.4141625432664064)),
 (4416, np.float64(0.41403933560541256)),
 (9081, np.float64(0.41403933560541245)),
 (10409, np.float64(0.41403933560541245)),
 (38031, np.float64(0.41403933560541245)),
 (44069, np.float64(0.4134702091018852)),
 (21471, np.float64(0.4131900232534169)),
 (2149, np.float64(0.4126381832432261)),
 (15574, np.float64(0.4126381832432261)),
 (43873, np.float64(0.41261406688152613)),
 (33600, np.float64(0.41251432366269497)),
 (9255, np.float64(0.41243140978117354)),
 (14870, np.float64(0.4123858773057611)),
 (7179, np.float64(0.41194292043554975)),
 (42816, np.float64(0.41194292043554975)),
 (9871, np.float64(0.4116109314598473)),
 (13788, np.float64(0.41161093145984723)),
 (20242, np.float64(0.41161093145984723)),
 (30210, np.float64(0.41161093145984723)),
 (23616, np.float64(0.41135786336291535)),
 (42693, np.float64(0.41130637283031135)),
 (4266, np.float64(0.41130637283031124)),
 (40430, np.float64(0.41120147258231476)),
 (11456, np.float64(0.41065936612060655)),
 (30176, np.float64(0.41065936612060655)),
 (12020, np.float64(0.41044318956444914)),
 (43758, np.float64(0.41044318956444914)),
 (18546, np.float64(0.4104431895644491)),
 (44084, np.float64(0.4104431895644491)),
 (22318, np.float64(0.41020632707118354)),
 (15590, np.float64(0.41005426370052767)),
 (14247, np.float64(0.4099600308453938)),
 (15969, np.float64(0.4099600308453938)),
 (26884, np.float64(0.4099600308453938)),
 (36673, np.float64(0.4099600308453938)),
 (36465, np.float64(0.40984429998526845)),
 (40475, np.float64(0.40980057093238403)),
 (10495, np.float64(0.409800570932384)),
 (34676, np.float64(0.4094130525753272)),
 (16070, np.float64(0.40892196796906877)),
 (18629, np.float64(0.4088571622271983)),
 (21375, np.float64(0.4088571622271983)),
 (31804, np.float64(0.4088571622271983)),
 (41953, np.float64(0.4088571622271983)),
 (10740, np.float64(0.40883108632154813)),
 (6947, np.float64(0.40862682396239675)),
 (9202, np.float64(0.4085185641051616)),
 (25815, np.float64(0.4085185641051616)),
 (25779, np.float64(0.4084912231187831)),
 (29053, np.float64(0.408491223118783)),
 (207, np.float64(0.4080471333733239)),
 (33559, np.float64(0.4080471333733238)),
 (35450, np.float64(0.4080471333733238)),
 (9357, np.float64(0.40787185120403724)),
 (20659, np.float64(0.4078718512040372)),
 (38898, np.float64(0.40771775315010045)),
 (20329, np.float64(0.40717253552297766)),
 (24632, np.float64(0.40717253552297766)),
 (31598, np.float64(0.40717253552297766)),
 (33835, np.float64(0.40717253552297766)),
 (34797, np.float64(0.40717253552297766)),
 (26792, np.float64(0.4068187799952687)),
 (22850, np.float64(0.40662503039522213)),
 (234, np.float64(0.40657855630736306)),
 (4992, np.float64(0.406578556307363)),
 (20131, np.float64(0.406578556307363)),
 (35837, np.float64(0.406578556307363)),
 (36343, np.float64(0.4063777271736938)),
 (36105, np.float64(0.40631802768600056)),
 (7454, np.float64(0.4063180276860005)),
 (16778, np.float64(0.40623708770688505)),
 (7904, np.float64(0.40599897147057507)),
 (31884, np.float64(0.405998971470575)),
 (8007, np.float64(0.4058397249567139)),
 (14351, np.float64(0.4058397249567139)),
 (29236, np.float64(0.4058397249567139)),
 (42424, np.float64(0.40583972495671383)),
 (8627, np.float64(0.40574111245982464)),
 (4346, np.float64(0.4057411124598246)),
 (25313, np.float64(0.4057411124598246)),
 (35822, np.float64(0.4057411124598246)),
 (35950, np.float64(0.4057411124598246)),
 (4514, np.float64(0.40572205955603347)),
 (41629, np.float64(0.40572205955603347)),
 (41399, np.float64(0.40568369003458626)),
 (1967, np.float64(0.4055630764775769)),
 (20592, np.float64(0.40539577981932434)),
 (26068, np.float64(0.40532174168888874)),
 (25774, np.float64(0.40462182449996187)),
 (8171, np.float64(0.4045743286581601)),
 (41228, np.float64(0.4045743286581601)),
 (23608, np.float64(0.40441488828820193)),
 (7467, np.float64(0.4042714114919083)),
 (8026, np.float64(0.4040610178208843)),
 (19635, np.float64(0.40406101782088427)),
 (26783, np.float64(0.40406101782088427)),
 (34734, np.float64(0.40370309693658585)),
 (35847, np.float64(0.40342117416082907)),
 (34712, np.float64(0.4033896556503579)),
 (22551, np.float64(0.4030256769586325)),
 (20584, np.float64(0.4029332604231281)),
 (40225, np.float64(0.4029114820126901)),
 (11311, np.float64(0.4028881241482679)),
 (38721, np.float64(0.4025382429497066)),
 (16614, np.float64(0.40237390808147827)),
 (11543, np.float64(0.40191847623425014)),
 (29778, np.float64(0.40191847623425014)),
 (43054, np.float64(0.40191847623425014)),
 (4213, np.float64(0.4018863086023419)),
 (31394, np.float64(0.4018863086023419)),
 (37803, np.float64(0.4018863086023419)),
 (11865, np.float64(0.40167715620274697)),
 (37152, np.float64(0.4016771562027469)),
 (17886, np.float64(0.40144827099604535)),
 (28606, np.float64(0.4014482709960453)),
 (8338, np.float64(0.401240313054254)),
 (11893, np.float64(0.40118870990143896)),
 (22088, np.float64(0.40118870990143896)),
 (24655, np.float64(0.40118870990143896)),
 (28056, np.float64(0.40118870990143896)),
 (26632, np.float64(0.40099543911706903)),
 (40068, np.float64(0.4009408088260705)),
 (17707, np.float64(0.40089186286863654)),
 (24728, np.float64(0.40089186286863654)),
 (32355, np.float64(0.40089186286863654)),
 (5533, np.float64(0.4006874826040817)),
 (35241, np.float64(0.40047835903206946)),
 (13368, np.float64(0.4004158725781018)),
 (35656, np.float64(0.4004158725781018)),
 (34802, np.float64(0.4002746309969947)),
 (11684, np.float64(0.4002380244185654)),
 (41681, np.float64(0.4002380244185654)),
 (21850, np.float64(0.4001190299088985)),
 (19931, np.float64(0.39999999999999997)),
 (30813, np.float64(0.39999999999999997)),
 (12238, np.float64(0.3995429282255119)),
 (13981, np.float64(0.3995429282255119)),
 (25246, np.float64(0.3995429282255119)),
 (12080, np.float64(0.3995070854566277)),
 (12196, np.float64(0.3995070854566277)),
 (14457, np.float64(0.3992978531249624)),

In [146]:
recommend("Harry Potter and the Goblet of Fire")
#recommend

Harry Potter and the Order of the Phoenix
Harry Potter and the Philosopher's Stone
Harry Potter and the Chamber of Secrets
Luv
Harry Potter and the Prisoner of Azkaban

In [138]:
new_df.head(18589)

,id,imdb_id,title,poster_path,tags
1,862,tt0114709,Toy Story,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"led by woody, andy' toy live happili in hi roo..."
2,8844,tt0113497,Jumanji,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,when sibl judi and peter discov an enchant boa...
3,15602,tt0113228,Grumpier Old Men,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,a famili wed reignit the ancient feud between ...
4,31357,tt0114885,Waiting to Exhale,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,"cheat on, mistreat and step on, the women are ..."
5,11862,tt0113041,Father of the Bride Part II,/e64sOI48hQXyru7naBFyssKFxVd.jpg,just when georg bank ha recov from hi daughter...
...,...,...,...,...,...
18585,79221,tt1927077,Letters to Santa,/wSNp7HOCRhDNCOLa5rVv5iUo2XB.jpg,a romant comedi set on christma eve in warsaw ...
18586,214857,tt1866426,Dragon Age: Redemption,/oBaAWiB5DK980hgx5qTDQR7hNOj.jpg,"written by and star felicia day (the guild), d..."
18587,80767,tt1772925,Jiro Dreams of Sushi,/b4kKfthVn6V7U2GwJKiEDlDRgyp.jpg,jiro dream of sushi is the stori of 85 year-ol...
18588,82533,tt1667307,Damsels in Distress,/dfLkxGzfwzbnks9pJpUsGtjd7Mj.jpg,a trio of beauti girl set out to revolution li...
18589,74237,tt0264013,A Skin Too Few: The Days of Nick Drake,/n433IPeL37V4ofe5i1DJ5sAZ0O2.jpg,"a study, mostli chronological, of the life of ..."

In [104]:
new_df[new_df['title'].apply(lambda x: True if "Harry" in x.split() else False)]

,id,imdb_id,title,poster_path,tags
1246,639,tt0098635,When Harry Met Sally...,/anYI1fzx90PgjO9PY3JStJZJmQT.jpg,"dure their travel from chicago to new york, ha..."
1599,2639,tt0118954,Deconstructing Harry,/krKRthefSZlUjnzDvN4isqty0R7.jpg,thi film tell the stori of a success writer ca...
2049,11219,tt0048750,The Trouble with Harry,/tXq2vB69rv6uqqkyiqfxci0TMgZ.jpg,"troubl erupt in a small, quiet new england tow..."
3237,11718,tt0098645,Who's Harry Crumb?,/eimYRIjRCIi7k7RR8D9RtVakPl8.jpg,harri crumb is a bumbl and inept privat invest...
3238,8989,tt0093148,Harry and the Hendersons,/mhpajPCVjE3y4wgDLichDF5Peq8.jpg,"return from a hunt trip in the forest, the hen..."
3239,32031,tt0091400,Let's Get Harry,/dqamQcX3Jo3TYLaDyNV1lt01cUy.jpg,harri burck ha been kidnap by south american t...
4690,984,tt0066999,Dirty Harry,/6AlKDmfVi5cqQFprxJCf1FWihPk.jpg,when a madman dub 'scorpio' terror san francis...
4730,671,tt0241527,Harry Potter and the Philosopher's Stone,/dCtFvscYcXQKTNvyyaQr2g2UacJ.jpg,harri potter ha live under the stair at hi aun...
5316,149445,tt0074608,Harry and Walter Go To New York,/iDaToaofJZ1GbdYoE7847DQnhyO.jpg,two hoplessli out of their class con-men attem...
5640,672,tt0295297,Harry Potter and the Chamber of Secrets,/sdEOH0992YZ0QSxgXNIGLq1ToUi.jpg,"ignor threat to hi life, harri return to hogwa..."
6291,10152,tt0329028,Dumb and Dumberer: When Harry Met Lloyd,/eizaKEnF108gQq89f1XsAyVxjq6.jpg,thi wacki prequel to the 1994 blockbust goe ba...
7676,673,tt0304141,Harry Potter and the Prisoner of Azkaban,/jUFjMoLh8T2CWzHUSjKCojI5SHu.jpg,"harry, ron and hermion return to hogwart for a..."
8679,42448,tt0071598,Harry and Tonto,/BbA9z4kFuIXmljZTHG3FjCWjQk.jpg,harri is a retir teacher in hi 70 live in the ...
10496,674,tt0330373,Harry Potter and the Goblet of Fire,/6sASqcdrEHXxUhA3nFpjrRecPD2.jpg,"harri start hi fourth year at hogwarts, compet..."
11113,86604,tt0034299,Tom Dick and Harry,/dV9vnNyNw88mMBCnmNYKTttzT2u.jpg,"ginger rogers, a telephon operator, is pursu b..."
11866,675,tt0373889,Harry Potter and the Order of the Phoenix,/4YnLxYLHhT4UQ8i9jxAXWy46Xuw.jpg,"return for hi fifth year of studi at hogwarts,..."
13810,767,tt0417741,Harry Potter and the Half-Blood Prince,/bFXys2nhALwDvpkF3dP3Vvdfn8b.jpg,"as harri begin hi sixth year at hogwarts, he d..."
14807,25941,tt1289406,Harry Brown,/68V1ClrCT7ik7UDiAkIDliRaAXf.jpg,an elderli ex-serviceman and widow look to ave...
15951,91607,tt0067980,Who Is Harry Kellerman and Why Is He Saying Th...,/aB5VRyCd18aOHKC8YAP8VKWZ7S8.jpg,"georgi soloway, a pop hit love song writer who..."
16008,12444,tt0926084,Harry Potter and the Deathly Hallows: Part 1,/maP4MTfPCeVD2FZbKTLUgriOW4R.jpg,"harry, ron and hermion walk away from their la..."
16311,53079,tt0756727,Who Is Harry Nilsson (And Why Is Everybody Tal...,/uh3jCuKCd50EwBYPSUMG9rK9v6y.jpg,the documentari explor the enigmat life and mu...
16326,51933,tt1318001,Handsome Harry,/solugFmCfz8k5Vo3cNJGafEGv7S.jpg,an ex-navi man carri out the last wish of a di...
16812,27091,tt0390080,Harry And Max,/sJc59xrw4bq8fsDDvUEp2ZkV2uv.jpg,"two brothers, 23 and 16, who are both teen ido..."
17285,12445,tt1201607,Harry Potter and the Deathly Hallows: Part 2,/fTplI1NCSuEDP4ITLcTps739fcC.jpg,"harry, ron and hermion continu their quest to ..."
18646,75778,tt0216279,Wild About Harry,/wEaU8MQWowQsRUUyxmkUrcnbpA8.jpg,a sleazi chef is forc to face the truth about ...
23211,41943,tt0064820,The Plot Against Harry,/pOWcdasSNh7CTJ0D5QB9kYgNDGZ.jpg,"a small-tim jewish racketeer, just out of pris..."
26555,72460,tt0070158,Harry in Your Pocket,/vV0oJgw6ZOQQ0qrBsfRP2eXHBbp.jpg,a master thief (jame coburn) and hi drug-addic...
27650,91767,tt0087386,Harry & Son,/hlWVb2DeqkrViXarProJCHyufgi.jpg,widow harri keach is a construct worker who wa...
28268,228558,tt3013528,The Harry Hill Movie,/6GhqOGEgnRPYpHp3tdJCfiRh6LC.jpg,the comedi film see tv burp star hill embark o...
29288,130612,tt2372776,Harry Dean Stanton: Partly Fiction,/3M6dL6IGNAXohBsDYD6Wqz2ifzS.jpg,documentari look back at the career of the pop...
29631,43269,tt0038123,The Strange Affair of Uncle Harry,/2V2X9gKpuPP9JrPAmGIDGLuc0wq.jpg,georg sander star in thi engross melodrama abo...
30739,5742,tt0064160,"Cherry, Harry & Raquel!",/nhjnOw7AC2t1vFtvrOMOdagOZVd.jpg,harri (a corrupt sheriff) and hi chicano deput...
34798,58887,tt1535110,When Harry Tries to Marry,/bj40hrwvFh5V1dfkjTu7BqsTV4l.jpg,an indian-american surpris hi famili when he a...
35871,180879,tt0064407,Harry Munter,/wwAZkPvkLzBVCQPj3E4HFiqIf0f.jpg,"harri munter, a sensitive, kind, appeal man in..."
36004,253578,tt0476888,"Tom, Dick And Harry",/ttaaj5PMZRISugZYGegwwJCtnuT.jpg,"three disabl friend - deaf tom, blind dick and..."
37429,97253,tt1028561,"The Old, Weird America: Harry Smith's Antholog...",/xiGSjltBTElRGoNOsZY4a9MjJ8C.jpg,"the old, weird america track the histori of th..."
37952,57911,tt0054965,Harry and the Butler,/i1pbgaAG1903UBlAfZRTgWRMb97.jpg,a gentl comedi offer the promis of easi social...
40101,340223,tt2898306,Harry & Snowman,/1mH73q6ZK50EhNpDxaGidlMZgek.jpg,"dutch immigrant, harri deleyer, journey to the..."
42450,371833,tt4974584,Harry Price: Ghost Hunter,/bAA32NYV8jwOVG4pdgRvbQdTZgX.jpg,when mp' wife grace goodwin is found nake on a...
43938,407803,tt3319844,Harry Benson: Shoot First,/w4TYBDSEEprZyYnsU6vA8m2Q9ug.jpg,"what we know today about mani famou musicians,..."